<div class="container-fluid order-page" >
    <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-md-7 orders half">
                <div class="row">
                    <h3 class="text-center fw-bold">Orders</h3>

                    <div class="menu1 pt-3 row" *ngFor="let item of items">
                        <div class="col-md-3 menu1-img" style="background-image: url('https://book-a-meal-xd.herokuapp.com{{item[4]}}');"></div>
                        <div class="col-md-5 menu-desc">
                            <h4 class="fw-bold">{{item[2]}}</h4>
                            <p>{{item[3]}}</p>
                            <!-- <p style="color: #000">posted on: 24 May 2022</p> -->
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-warning price">Ksh{{item[1]}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="transform: rotate(90deg); position: absolute; width: 40%; right: 30%; top: 75%;">
            
            <div class="col-md-5 order-summary half">
                <h3 class="text-center fw-bold" style="margin-bottom: 30px;">Order Summary</h3>
                <div class="row ordersummary1">
                    <div class="col-md-4">
                        <h4 class="fw-bold">Name</h4>
                    </div>
                    <div class="col-md-4">
                        <p>Id</p>
                    </div>
                    <div class="col-md-4">
                        <p>Price</p>
                    </div>
                </div>

                <div>
                    <div class="row ordersummary1" *ngFor="let item of items">
                        <div class="col-md-4">
                            <h4 class="fw-bold">{{item[2]}}</h4>
                        </div>
                        <div class="col-md-4">
                            <p>{{item[0]}}</p>
                        </div>
                        <div class="col-md-4">
                            <p>{{item[1]}}</p>
                        </div>
                    </div>
                </div>

            

                <hr style="width: 77%;">

                <div class="row total-price">
                    <p style="font-size: 30px; font-weight: 900; margin: 25px 0; margin-left: 50%;">Ksh{{totalPrice}}</p>
                </div>

                <div class="row order-btn">
                    <form (ngSubmit)="addOrders()">
                        <button type="submit" class="btn btn-warning">Order Now</button>
                    </form>
                </div>


            </div>
        </div>
    </div>








</div>
