<body>
    <div class="hero container-fluid">
        <div class="row">
            <div class="col-md-4" style="height: 80vh; background-color: #FB6357">
                <h1 class="alt-logo">Book a Meal</h1>
                <p class="alt-logo-text">Book a meal today!</p>
                <!-- TODO: sort out routing issue -->
                <a href="/menu" class="ripple">
                    Menu
                </a>
                <!-- <a mat-button mat-raised-button routerLink="menu" routerLinkActive="active">Menu</a> -->
            </div>
            <div class="col-md-8 hero-img" style="height: 80vh;">

            </div>
        </div>
    </div>

    <section class="about-us container-fluid" id="about-us">
        <h2>About Us</h2>
        <div class="about-us-container row">

            <div class="about-us-text col-md-6">
                <p>At Book A Meal we take food delivery to the next level in terms of speed and convinience. We basically eradicate the need for you to cook, our caterers are verified cooks who will make home cooked or restaurant standard meals or drinks at a fair price. Delivery is quick and easy too!</p>
                <div class="sub-img-container">
                    <div class="sub-img a"></div>
                    <div class="sub-img b"></div>
                    <div class="sub-img c"></div>
                </div>
            </div>
            <div class="about-us-img col-md-6"></div>
    </div>
    </section>

    <section class="menu-section">
        <h2 class="menu-heading">Today's Specials</h2>
        <div class="menu-item row">
            <div class="col-md-6">
                <div class="menu1 pt-3 row">
                    <div class="col-md-3 menu1-img" style="background-image: url('https://images.unsplash.com/photo-1525351326368-efbb5cb6814d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80')"></div>
                    <div class="col-md-5 menu-desc">
                        <h4 class="fw-bold">Egg Sandwitch.</h4>
                        <p>Perfect wat to start the day, pair this with a cup of coffee.</p>
                        <!-- <p style="color: #000">posted on: 24 May 2022</p> -->
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-warning price">Ksh 100</button>
                    </div>
                </div>
                <div class="menu1 pt-3 row">
                    <div class="col-md-3 menu1-img" style="background-image: url('https://images.unsplash.com/photo-1625944228741-cf30983ecb91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=581&q=80')"></div>
                    <div class="col-md-5 menu-desc">
                        <h4 class="fw-bold">Meat platter.</h4>
                        <p>Lamb and mutton, sheep meat, kebab, vegetables on the wooden plate.</p>
                        <!-- <p style="color: #000">posted on: 24 May 2022</p> -->
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-warning price">Ksh 300</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="menu1 pt-3 row">
                    <div class="col-md-3 menu1-img" style="background-image: url('https://images.unsplash.com/photo-1625395005224-0fce68a3cdc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80')"></div>
                    <div class="col-md-5 menu-desc">
                        <h4 class="fw-bold">Classic Pizza.</h4>
                        <p>Olives, Green Peppers, Onions & Sweet Corn, perfect for hangouts.</p>
                        <!-- <p style="color: #000">posted on: 24 May 2022</p> -->
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-warning price">Ksh 300</button>
                    </div>
                </div>
                <div class="menu1 pt-3 row">
                    <div class="col-md-3 menu1-img" style="background-image: url('https://images.unsplash.com/photo-1566918214014-a3b3e0132267?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80')"></div>
                    <div class="col-md-5 menu-desc">
                        <h4 class="fw-bold">Chicken.</h4>
                        <p>Old school, Deep Fried, Spicy, Finger Licking Chicken.</p>
                        <!-- <p style="color: #000">posted on: 24 May 2022</p> -->
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-warning price">Ksh 300</button>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <section class="footer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 footer-details">
                    <!-- <div class="dev-img e"></div>
                    <div class="dev-img f"></div>
                    <div class="dev-img g"></div>
                    <div class="dev-img h"></div>
                    <div class="dev-img i"></div> -->
                </div>
                <div class="col-md-4 footer-details">
                    <h3 class="footer-logo" style="font-size: 50px; margin: 0; padding-top: 7%;">Book A Meal<br><p>The World's Best Food Delivery Site!</p></h3>
                </div>
                <div class="col-md-4 footer-details"></div>
            </div>
        </div>
    </section>

</body>
