<div class="container-fluid menu-section">
    <h2 class="menu-heading text-center fw-bold">Available Menus</h2>
    <div class="menu-item row">
        <div class="col-md-6">
            <div class="menu1 pt-3 row">
                <div class="col-md-3 menu1-img"></div>
                <div class="col-md-5 menu-desc">
                    <h4 class="fw-bold">Pilau</h4>
                    <p>Beef Pilau and vegetables.</p>
                    <p style="color: #000">posted on: 24 May 2022</p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning price">Ksh 300</button>
                </div>
            </div>
            <div class="menu1 pt-3 row">
                <div class="col-md-3 menu1-img"></div>
                <div class="col-md-5 menu-desc">
                    <h4 class="fw-bold">Pilau</h4>
                    <p>Beef Pilau and vegetables.</p>
                    <p style="color: #000">posted on: 24 May 2022</p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning price">Ksh 300</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="menu1 pt-3 row">
                <div class="col-md-3 menu1-img"></div>
                <div class="col-md-5 menu-desc">
                    <h4 class="fw-bold">Pilau</h4>
                    <p>Beef Pilau and vegetables.</p>
                    <p style="color: #000">posted on: 24 May 2022</p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning price">Ksh 300</button>
                </div>
            </div>
            <div class="menu1 pt-3 row">
                <div class="col-md-3 menu1-img"></div>
                <div class="col-md-5 menu-desc">
                    <h4 class="fw-bold">Pilau</h4>
                    <p>Beef Pilau and vegetables.</p>
                    <p style="color: #000">posted on: 24 May 2022</p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning price">Ksh 300</button>
                </div>
            </div>
        </div>
    </div>
    
</div>