<!-- Toolbar -->
<mat-toolbar color="warn" class="app-header">
  <h2 class="meal">Book-a-meal</h2>
  <nav>
    <ul style="display: flex; list-style-type: none;">
      <li style="margin-right:5px;">
        <a *ngIf="isLoggedIn==true" mat-button mat-raised-button routerLink="landing" routerLinkActive="active">Home</a>
        <a *ngIf="isLoggedIn==false" mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
        <a *ngIf="isLoggedIn==false" mat-button routerLink="login" routerLinkActive="active">Log in</a>
        <a *ngIf="isLoggedIn==true" mat-button mat-raised-button routerLink="menu" routerLinkActive="active">Menu</a>
        <a *ngIf="isLoggedIn==true" mat-button mat-raised-button (click)="LogOut()">Logout</a>
      </li>
    </ul>
  </nav>

</mat-toolbar>


<router-outlet></router-outlet>