<!-- Toolbar -->
<mat-toolbar color="warn" class="app-header">
  <h2 class="meal">Book-a-meal</h2>
  <nav>
    <ul>
      <li>
        <a mat-button mat-raised-button routerLink="menu" routerLinkActive="active">Menu</a>
        <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
        <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      </li>
    </ul>
  </nav>

</mat-toolbar>


<!-- <span class="nav-tool-items">
  <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
  <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  <a mat-button mat-raised-button routerLink="profile" routerLinkActive="active">Profile</a>
  <a mat-button mat-raised-button routerLink="menu" routerLinkActive="active">Menu</a>
</span> -->


<router-outlet></router-outlet>