<!-- Toolbar -->
<mat-toolbar color="warn" class="app-header">
  <h2 class="meal">Book-a-meal</h2>
  <!-- <nav>
    <ul style="display: flex; list-style-type: none;">
      <li style="margin-right:5px;">
        <a *ngIf="isLoggedIn==true" mat-button mat-raised-button routerLink="landing" routerLinkActive="active">Home</a>
        <a *ngIf="isLoggedIn==false" mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
        <a *ngIf="isLoggedIn==false" mat-button routerLink="login" routerLinkActive="active">Log in</a>
        <a *ngIf="isLoggedIn==true" mat-button mat-raised-button routerLink="menu" routerLinkActive="active">Menu</a>
        <a *ngIf="isLoggedIn==true" mat-button mat-raised-button (click)="LogOut()">Logout</a>
      </li>
    </ul>
  </nav> -->

  <nav class="nav">
    <div class="container nav-container">
        <h1 class="logo"><a href="index.html">Book a Meal</a></h1>
        <ul>
            <li class="logo"><a routerLink="" routerLinkActive="active" class="current">Home</a></li>
            <li><a href="#about-us">About</a></li>
            <li><a routerLink="menu" routerLinkActive="active">Menu</a></li>
            <li><a routerLink="login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="register" routerLinkActive="active">Register</a></li>
            <li><a routerLink="landing" (click)="LogOut()">Log Out</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </div>
</nav>

</mat-toolbar>


<router-outlet></router-outlet>